<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<a href="{% url 'b:index' %}">powrót</a><br />

{% if object_list %}
       {% for resv in object_list %}
           {{  resv }}
           <form method="post" action="{% url 'b:cancel_reservation' %}">
               {% csrf_token %}
               <input type="hidden" name="resv_id" value="{{ resv.id }}" />
               <input type="submit" value="anuluj rezerwację" />
           </form>
       {% endfor %}
{% else %}
    <p>No reservations are available.</p>
{% endif %}
</body>
</html>