{% extends 'booking/base.html' %}

{%  block title %}Moje rezerwacje{%  endblock %}
{%  block content_title %}Moje rezerwacje{%  endblock %}

{%  block content %}
    {% if success == '0' %}
        <br />
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Błąd!</strong> Rezerwacja o podanym ID nie istnieje.
        </div>
{%  endif %}
    {% if success == '1' %}
        <br />
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Rezerwacja pomyślnie usunięta.
        </div>
    {%  endif %}
    {% if success == '2' %}
        <br />
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Biurko zostało pomyślnie zarezerwowane.
        </div>
    {%  endif %}
    {% if success == '3' %}
        <br />
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Pokój został pomyślnie zarezerwowany.
        </div>
    {%  endif %}
    {% if success == '4' %}
        <br />
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Błąd!</strong> Wystąpił problem podczas rezerwacji. Spróbuj ponownie.
        </div>
    {%  endif %}
    {% if object_list %}
    <br />
    <table class="table table-bordered table-striped">
           <thead>
               <tr>
                   <th>Biurko</th>
                   <th>Okres</th>
               </tr>
           </thead>
           <tbody>
           {% for resv in object_list %}
               <tr>
                   <td>{{  resv.desk }}</td>
                   <td>{{  resv.period }}</td>
                   <td>{{  resv.period.getHourset }}</td>
                   <td><form method="post" action="{% url 'b:cancel_reservation' %}">
                       {% csrf_token %}
                       <input type="hidden" name="resv_id" value="{{ resv.id }}" />
                       <input type="submit" class="btn btn-primary" value="anuluj rezerwację" />
                   </form></td>

               </tr>
           {% endfor %}
           </tbody>
    </table>
    {% else %}
        <p>Twoja lista rezerwacji jest pusta.</p>
    {% endif %}
{%  endblock %}