{% extends "booking/base_login.html" %}

{% block title %}Rejestracja{% endblock %}

{% block form %}
    <form method="post" class="form-signin" action="{% url 'b:create_user' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Rejestracja</h2>
        <input type="text" class="input-block-level" name="username" placeholder="Email">
        <input type="password" class="input-block-level" name="password" placeholder="Hasło">
        <input type="password" class="input-block-level" name="re_password" placeholder="Powtórz hasło">
        <button class="btn btn-large btn-primary" type="submit">Zarejestruj się</button>
        <p><br /><a href="{% url 'b:login' %}">Powrót</a></p>
    </form>
{%  endblock %}