{% extends 'booking/base.html' %}

{%  block title %}Szukaj pokoju{%  endblock %}
{%  block content_title %}Szukaj pokoju{%  endblock %}

{%  block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'b:room_results' %}" method="get">
    <input type="number" name="people_count" id="people_count" placeholder="Liczba osób" /><br />
    <input type="text" name="city" id="city" placeholder="Miasto" /><br />
    <input type="date" name="date_from" id="date_from" placeholder="Od dnia" /><br />
    <input type="date" name="date_to" id="date_to" placeholder="Do dnia" /><br />
    <input type="number" name="hour_from" id="hour_from" placeholder="Od godziny" /><br />
    <input type="number" name="hour_to" id="hour_to" placeholder="Do godziny" /><br />
    Wybierz dni: <br />
    <label  class="checkbox" for="dayweek_0"><input type="checkbox" checked="checked" id="dayweek_0"  name="dayweek_0" />Poniedziałek</label>
    <label  class="checkbox" for="dayweek_1"><input type="checkbox" checked="checked" id="dayweek_1"  name="dayweek_1" />Wtorek</label>
    <label  class="checkbox" for="dayweek_2"><input type="checkbox" checked="checked" id="dayweek_2"  name="dayweek_2" />Środa</label>
    <label  class="checkbox" for="dayweek_3"><input type="checkbox" checked="checked" id="dayweek_3"  name="dayweek_3" />Czwartek</label>
    <label  class="checkbox" for="dayweek_4"><input type="checkbox" checked="checked" id="dayweek_4"  name="dayweek_4" />Piątek</label>
    <label  class="checkbox" for="dayweek_5"><input type="checkbox" checked="checked" id="dayweek_5"  name="dayweek_5" />Sobota</label>
    <label  class="checkbox" for="dayweek_6"><input type="checkbox" checked="checked" id="dayweek_6"  name="dayweek_6" />Niedziela</label>
    <br />
    <input type="submit" class="btn btn-primary" value="Szukaj" />
</form>
{%  endblock %}