{% extends 'booking/base.html' %}

{%  block title %}Szukaj biurka{%  endblock %}
{%  block content_title %}Szukaj biurka{%  endblock %}
{%  block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'b:desk_results' %}" method="get">
    <input type="number" name="people_count" id="people_count" placeholder="Liczba osób" /><br />
    <input type="text" name="city" id="city" placeholder="Miasto" /><br />
    <input type="date" name="date_from" id="date_from" placeholder="Od dnia" /><br />
    <input type="date" name="date_to" id="date_to" placeholder="Do dnia" /><br />
    <input type="number" name="hour_from" id="hour_from" placeholder="Od godziny" /><br />
    <input type="number" name="hour_to" id="hour_to" placeholder="Do godziny" /><br />
    <input type="submit" class="btn btn-primary" value="Szukaj" />
</form>
{% endblock %}